.navigation {
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;
  background-color: var(--yellow2);
}

.navigation .logo-img {
  cursor: pointer;
}

.navigation img {
  height: 20px;
}

.nav-menu {
  justify-content: flex-start;
}

.nav-buttons {
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px !important;
}

.nav-buttons button {
  margin-left: 10px;
}

.nav-user-menu {
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 50px !important;
  cursor: pointer;
}

.nav-user-menu:hover {
  border-radius: 5px;
  background-color: var(--yellow1);
}

.user-icon {
  height: 100% !important;
}

.nav-submenu {
  position: fixed;
  top: 50px;
  right: 30px;
  padding: 10px;
  background-color: var(--yellow2);
  border: 1px solid #fff;
}

.submenu-button {
  padding: 10px 15px;
  background-color: var(--yellow4);
  color: #fff;
  cursor: pointer;
}

.submenu-button:not(:last-child) {
  margin-bottom: 5px;
}

.submenu-button:hover {
  background-color: var(--yellow3);
}

/* for mobile */
@media (max-width: 425px) {
  .navigation {
    height: 56px;
  }
}
