.App {
  display: grid;
  grid-template-columns: auto;
  /* grid-template-rows: [row1-start] 64px [row1-end] auto [third-line] 200px [last-line]; */
  grid-template-rows: [row1-start] 64px [row1-end] auto [third-line] 0px [last-line];
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.navigation {
  /* grid-area: header; */
  grid-row-start: row1-start;
  grid-row-end: row1-end;
}

.grid-body {
  grid-row-start: row1-end;
  grid-row-end: third-line;
}
