:root {
  --yellow1: #FBF1E0;
  --yellow2: #F0C682;
  --yellow3: #E3901C;
  --yellow4: #C7530F;
  --yellow5: #3F2107;
  --gray1: #CBCBCB;
  --gray2: #AEAEAE;
  --icongreen: #4BB543;
  --iconred: #D11A2A;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
